*{
    font-family:Arial, Helvetica, sans-serif;  
}

header{
    background-color: darkslategray;
}

header h1{
    text-align: center;
    color:aliceblue;
}
header h5{
    text-align: center;
    color:aliceblue;
    font-size: medium;
}

img{
    border-radius: 50%;

}

body {
    background-color:lightblue;
}

body h2{
    color:darkslategray;
}

body h3{
    color:darkslategray;
}

ul{
    list-style-type:circle;
}
